.main {
    border: 2px solid red;
    position: absolute;
    width: 100%;
    height: 10%;

}

.header {
    border: 2px solid green;
    display: flex;
    align-self: center;
}

.span {}

.page_title {
    width: 30%;
    text-align: start;
}

.username {
    width: 40%;
    text-align: center;
}

.signout {
    width: 30%;
    text-align: right;
}