.main {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    background-color: rgb(252, 245, 234);
    box-shadow: 0 0 5px 0px #ccc;
}

.app {
    display: flex;
    /* use justify-center to set item in horizontal center */
    justify-content: start;
    /* use align-item in vertical center */
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    gap: 30px;
    color: rgb(234, 150, 150);
}

.icon {
    color: rgb(234, 150, 150);
}

.projectTitle {
    color: black;
    font-size: 25px;

}